

.container{
    position:relative; top:70px;
    text-align:center;
    font-family: Tapestry;
}




.card{
    position:relative; right:80px; top:200px;
}


#section-right {
   float: right;
   width: 300px;
   position:relative; bottom:600px; right:20px;
}

#info{
    position:relative; top:480px; left:60px;
}

.card-group{
    position:relative; top:200px; left:200px
}

.image{
    position:relative; left:700px; top:230px;

}

  body{
          background-color:lightblue;
        }


      #drive{
        position:relative; top:200px;
      }

      #tablet{
        position:relative; top:200px;
      }

#speech{
    padding-top:100px;
}


  #law  {
    position:relative; bottom:200px;
    float:right;
  }



.yes{
    position:relative; bottom:500px;
}

#text3{
    position:relative; top:50px;
}

#text2{
    position:relative; top:20px;

}

#text{
    position:relative; top:5px;
}

#card{
    position:relative; left:600px; bottom:200px;
}

#questions{
    padding-right:150px;
    position:relative; top:900px; right:380px;
}

h4{
    position:relative; top:860px; right:230px;
    
}

h2{
    position:relative; top:100px;
}